#menu{
    background-color: #DF6D14;
    width: 100%;
}
#ConteneurHeader{
    background-color: blue;
    width: 100%;
}
body{
    width: 95%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row{
   width: 100%;
}


#menuCategorie{
    margin-top: 30px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menuCategorie a{
   text-decoration: none;
   color:#FFFFFF;
   border-bottom: 2px solid transparent;
}

#menuCategorie a:hover{
    font-size: larger;
    border-bottom: 2px solid white;
 }

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background:blue;
    color: #FFFFFF;
}

 .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background:  #DF6D14;
    color: #FFFFFF;
}

#footerText{
    margin-top: 30px;
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}